# Bulk source data stays local (copyrighted texts, large downloads, derived indexes).
# Only each source's source.json (identity, URLs, hashes, licence notes) is versioned.
*
!.gitignore
!*/
!*/source.json
!*/*/source.json
*/raw/**/source.json
!meal_identity.json
!README.md
